body {
    padding: 10px;
}

.img-fluid {
    max-width: 200px !important; /* maximum width */
    max-height: 200px !important; /* maximum height */
    width: auto; /* allow proportional resizing */
    height: auto; /* allow proportional resizing */
}

a {
    text-decoration: none; 
    color: rgb(255, 255, 255);
}

a:hover {
    text-decoration: none;
    color: rgb(133, 133, 133);
}
.list-items:hover{
    background-color: aliceblue;
    color: rgb(13, 13, 95);

}